.Directory {
    display: flex;
    position: fixed;
    height: 968px;
    width: 200px;
    left: 0;
    flex-direction: column;
    padding: 16px;
    background: rgb(0,0,0);
    color: white;
    font-size: 20px;
    div{
        cursor: pointer;
        &:hover{
            background: rgb(59, 59, 59);
        }
    }
  }
.monaco{
    margin-left: 200px;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}
  